.header {
  display: flex;
  align-items: center;
  position: sticky;
  width: 100%;
  z-index: 100;
  padding-top: 3rem;
  background-color: var(--primary-color);
  top: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 60rem;
  width: 100%;
  margin: 0 auto;
  gap: 2rem;
  border-bottom: 1px solid #38444d;
  padding-bottom: 1rem;
}

.me {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 0.7rem 1rem;
  font-size: 2.5rem;
  font-weight: bold;
}

.items {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.item {
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.item:hover {
  color: var(--secondary-color);
}
