.sheet {
  margin-top: 0.7rem;
}

.strikethrough {
  text-decoration: line-through;
  color: var(--texts);
}

.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-bottom: 2rem;
  justify-items: center;
}

@media (max-width: 50rem) {
  .projects {
    grid-template-columns: 1fr;
    padding-right: 10px;
    padding-left: 5px;
  }
}
