.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 2px;
  padding-right: 18px;
  background: var(--secondary-color);
  box-shadow: 5px 5px 0px 0px white;
  max-width: 25rem;
}

.header {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 0.6rem 0 0 0.6rem;
  font-size: 1rem;
}

.header h3 {
  margin-right: auto;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 0 0.8rem 0.8rem 0.6rem;
  font-size: 1rem;
  height: 100%;
}

.content p {
  margin-top: 0.5rem;
  margin-bottom: 10px;
  line-height: 1.2rem;
}

.tags {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: auto;
}
