:root {
  --font-size-xxs: 0.64rem;
  --font-size-xs: 0.8125rem;
  --font-size-s: 0.875rem;
  --font-size-m: 1rem;
  --font-size-l: 1.25rem;
  --font-size-xl: 1.563rem;
  --font-size-xxl: 1.953rem;
  --font-size-x-heading: 2.441rem;
  --font-size-xx-heading: 3.052rem;

  --primary-color: #0a0c21;
  --secondary-color: #f92672;
  --color-black: #000;
  --color-white: #fff;
  --texts: #8899a6;

  --base-type: 'Inconsolata', Arial, sans-serif;
  --second-type: 'Spectral', Georgia;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: white;
  padding-top: 3rem;
  background-color: var(--primary-color);
  font-size: var(--font-size-l);
}

a {
  text-decoration: none;
  color: white;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

p {
  margin-top: 1rem;
  line-height: 2rem;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

button,
input {
  display: block;
  font-size: 1rem;
  color: #333;
}

.container {
  max-width: 60rem;
  padding: 0 1rem;
  margin: 0 auto;
}

.mainContainer {
  margin-top: 2rem;
}

.title {
  line-height: 1;
  font-size: 3rem;
  margin: 1rem 0;
  position: relative;
  z-index: 1;
}

.title::after {
  content: '';
  display: block;
  height: 1.5rem;
  width: 1.5rem;
  background: rgb(176, 126, 0);
  position: absolute;
  bottom: 5px;
  left: -5px;
  border-radius: 0.2rem;
  z-index: -1;
}

.animeLeft {
  opacity: 0;
  transform: translateX(-20px);
  animation: animeLeft 0.3s forwards;
}

.error {
  color: #f31;
  font-size: var(--font-size-s);
  margin-top: var(--font-size-xs);
}

@keyframes animeLeft {
  to {
    opacity: 1;
    transform: initial;
  }
}
