.arrow {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: none;
  border-radius: 50%;
  width: 40px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  display: none;

  @media (max-width: 40rem) {
    display: block;
  }
}
