.container {
  display: flex;
  justify-content: right;
  width: 100%;
  align-items: center;
}

.items {
  display: flex;
  flex-direction: row;
  column-gap: 0.6rem;
}

.link {
  color: var(--highlight);
  text-decoration: none;
  transition: color 0.2s;
  width: 30px;
  display: block;
  transition: color 0.3s ease;
}

.link:hover {
  color: var(--secondary-color);
}

@media (max-width: 60rem) {
  .container {
    justify-content: center;
  }
}
