.container {
  display: flex;
  flex-direction: row;
  margin-top: auto;
  margin-bottom: 2rem;
  width: 100%;
  border-top: 1px solid #38444d;
  justify-content: center;
  padding-top: 2rem;
}

.container div {
  display: flex;
  align-items: center;
  margin-left: auto;
  padding-right: 0.5rem;
}

.container span {
  margin-left: auto;
  width: 100%;
  font-size: 1.1rem;
  padding-left: 0.5rem;
  color: var(--highlight);
}

@media (max-width: 60rem) {
  .container {
    flex-direction: column-reverse;
    justify-content: center;
    text-align: center;
    gap: 0.7rem;
    padding-top: 1.8rem;
    margin-bottom: 1.8rem;
  }

  .container {
    padding-right: 0;
  }

  .container span {
    margin: 0;
    padding-left: 0;
    padding-right: 7px;
  }
}
